<!DOCTYPE html>
<html>
<head>
  <title>MySQL Data Display</title>
</head>
<link rel="stylesheet" href="./styles/style.css">
<body>
  <h1>MySQLs Data Table</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <!-- Add more table headers as needed -->
    </tr>
    <% data.forEach((item) => { %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <!-- Add more table cells for additional columns -->
      </tr>
    <% }); %>
  </table>
</body>
</html>
